body {
  display: flex;
  flex-direction: column;
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  background: #000 url('/img/header.jpg') center top no-repeat;
  padding-bottom: 120px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sumana', serif;
  text-align: center;
  text-shadow: 0 -1px #222;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dashed;
  transition: color 1s, border 1s;
  margin: 5px;
  display: inline-block;
}

a:hover, a:active {
  color: #666;
  border-bottom: 1px solid;
}

a.img:link, a.img:visited, a.img:hover, a.img:active {
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 120%;
  padding: 24px;
}



.container section h3 {
  margin: 0;
}

.container.small section {
  text-align: center;
}

.container.large section {
  margin-bottom: 24px;
}

.container.large section:last-child {
  margin-bottom: 0;
}

.container.large section img {
  max-width: 100%;
}

.under-title {
  background: linear-gradient(to top, rgba(0, 0, 0,1) 20%,rgba(0, 0, 0,0.84) 70%,rgba(51,51,51,0) 100%);
}

a.action-button {
  display: block;
  text-align: center;
  border: none;
  margin: 12px auto 30px auto;
  padding: 12px;
  color: #333;
  background: #eee;
  border-radius: 3px;
  max-width: 200px;
  box-shadow: 1px 1px 1px #222;
  transition: color 1s, border 1s, background 1s, box-shadow 1s;
  text-transform: uppercase;
  text-shadow: 0 1px 3px white;
}

a.action-button:hover {
  box-shadow: 2px 5px 5px #222;
  background: white;
  color: black;
}

a.action-button:active {
  box-shadow: none;
  background: #ccc;
}

.page-title {
  margin: 50px 0 30px;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-title .title {
  margin: 0;
  padding: 12px;
}

.page-title .subtitle {
  margin: -12px 0 0 0;
  font-size: 20px;
}

.visible-lg {
  display: none;
}

@media (min-width: 600px) {
  .container {
    padding: 0 48px;
  }

  .container.small {
    flex-direction: row;
    padding: 60px 0;
  }

  .container.small section {
    padding: 24px;
    min-width: 280px;
    box-sizing: border-box;
    flex: 1;
  }

  .container.large h3 {
    text-align: left;
  }

  .container.large section {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  .container.large section:last-child {
    margin-bottom: 0;
  }

  section.call-for-action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  a.action-button {
    width: 100%;
  }

  a.action-button:hover {
    background-color: #333;
    color: white;
    box-shadow: 1px 1px 1px #222;
  }

  a.action-button:active {
    background: #666;
    text-shadow: none;
  }

}

@media (min-width: 1450px) {
  .visible-lg {
    display: initial;
  }

  .visible-sm {
    display: none;
  }

  .container {
    margin-top: 60px;
  }

  .container.large {
    flex-direction: row;
    background-color: #333;
    padding: 150px 24px;
    min-height: 20vh;
  }

  .page-title {
    height: 432px;
    margin: 0;
  }

  .page-title .subtitle {
    margin: 0;
  }
}

@media (min-width: 1900px) {
  .container.large {
    padding: 150px 10%;
  }
  .container.small {
    padding: 100px 10%;
  }
}