body {
  display: flex;
  flex-direction: column;
  background: #333;
  color: #eee;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sumana', serif;
  text-align: center;
  text-shadow: 0 -1px #222;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dashed;
  transition: color 1s, border 1s;
  margin: 5px;
  display: inline-block;
}

a:hover, a:active {
  color: #666;
  border-bottom: 1px solid;
}

a.img:link, a.img:visited, a.img:hover, a.img:active {
  border: none;
}

.small-box-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 120%;
}

.small-box {
  text-align: center;
  padding: 20px 6px 6px 6px;
  margin: 12px 6px 6px 6px;
}

.big-box {
  margin: 12px 6px 6px 6px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.big-box section {
  margin-bottom: 24px;
}

.big-box h3, .small-box h3 {
  margin: 0;
}

.small-box .action-button {
  display: block;
  text-align: center;
  border: none;
  margin: 12px auto 30px auto;
  padding: 12px;
  color: #333;
  background: #eee;
  border-radius: 3px;
  max-width: 200px;
  box-shadow: 1px 1px 1px #222;
  transition: color 1s, border 1s, background 1s, box-shadow 1s;
  text-transform: uppercase;
  text-shadow: 0 1px 3px white;
}

.small-box .action-button:hover {
  box-shadow: 2px 5px 5px #222;
  background: white;
  color: black;
}

.small-box .action-button:active {
  box-shadow: none;
  background: #ccc;
}

.page-title {
  margin: 0 0 12px 0;
  padding: 0;
  border: none;
}

.page-title .title {
  margin: 0;
  padding: 12px;
}

.page-title .subtitle {
  margin: -12px 0 0 0;
  font-size: 20px;
}

.visible-lg {
  display: none;
}

@media (min-width: 600px) {
  .small-box-container {
    flex-direction: row;
    margin: 60px 0 60px 0;
    background-color: #eee;
    padding: 60px 0;
  }

  .small-box {
    color: #333;
    padding: 24px
  }

  .small-box .action-button {
    color: #eee;
    background-color: #555;
    text-shadow: 0 1px 3px #222;
    margin: 40px auto 0 auto;
  }

  .small-box .action-button:hover {
    background-color: #333;
    color: white;
    box-shadow: 1px 1px 1px #222;
  }

  .small-box .action-button:active {
    background: #666;
    text-shadow: none;
  }

  .small-box, .big-box {
    border: none;
  }

  .small-box:last-child {
    border: none;
  }

  .big-box h3 {
    text-align: left;
  }

  .big-box section {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  .big-box section:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .big-box {
    flex-direction: row;
  }

  .big-box section {
    padding: 0 24px;
  }

  .visible-lg {
    display: initial;
  }

  .visible-sm {
    display: none;
  }
}

@media (min-width: 1250px) {
  .big-box {
    width: 960px;
    margin: 12px auto;
  }

  .big-box {
    width: 80%;
    justify-content: space-around;
  }

  .big-box section {
    padding: 24px;
    max-width: 500px;
  }
}

@media (min-width: 1600px) {
  .small-box-container {
    padding: 120px 20%;
  }

  .big-box {
    width: 80%;
    justify-content: space-around;
  }

  .big-box section {
    padding: 48px;
    max-width: 500px;
  }
}