<div class="container small under-title" id="call-to-action">
  <section class="call-to-action join-us">
    <h3>Join us</h3>
    <p>Fill out our application form!</p>
    <a class="action-button" href="http://goo.gl/forms/kdPQYYDOwG" rel="noopener" target="_blank">Apply now</a>
  </section>
  <section class="call-to-action learn-about-us">
    <h3>Learn about us</h3>
    <p>Find out all about our raids, social events and organization.</p>
    <a class="action-button" href="#detailed-info">Find out more</a>
  </section>
  <section class="visible-lg info">
    <h3>Raid times</h3>
    <p>Wednesday and Monday,<br><code>20:00</code> to <code>23:00</code> realm time</p>
    <p>(Social raid on Sundays)</p>
  </section>
</div>