<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Sumana:700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/style/normalize.css" />
<link rel="stylesheet" type="text/css" href="/style/style.css" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

<meta name="description" content="Profanus is a community driven World of Warcraft guild focusing on structured pve progression: raids and dungeons" />
<meta name="keywords" content="Profanus,Profanus wow,Profanus EU,Profanus Ragnaros,wow guild,raid,dungeon,mythic plus,World of Warcraft" />